<div class="py-3">

<br>
  <!-- Tabs -->
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <button
        class="nav-link"
        [class.active]="activeTab === 'PENDING'"
        (click)="changeTab('PENDING')">
        En attente
            <!----  <span class="badge bg-warning ms-2">{{ pendingCount }}</span>-->
      </button>
    </li>

    <li class="nav-item">
      <button
        class="nav-link"
        [class.active]="activeTab === 'PAID'"
        (click)="changeTab('PAID')">
        Payé
       <!----<span class="badge bg-success ms-2">{{ paidCount }}</span>-->
      </button>
    </li>
  </ul>
  
  <div *ngIf="loading" class="text-center my-3">
  <div class="spinner-border text-primary"></div>
</div>

  <table class="table table__sm w-100"  *ngIf="!loading">
    <thead>
      <tr>
        <th>TITRE</th>
        <!---- <th *ngIf="!singleLot.rental">% APPELÉ</th>-->
        <th>MONTANT</th>
        <th>DATE ÉCHÉANCE</th>
        <th>STATUT</th>
        <th>ACTIONS</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of paymentCalls">
        <td>{{ item.label }}</td>

        <!--<td *ngIf="!singleLot.rental">
          <span *ngIf="item.percentage > 0">{{ item.percentage }}%</span>
        </td>-->

        <td>{{ formatPrix(item.fee) }}</td>
        <td>{{ item.expectedDate }}</td>

        <td>
          <span [ngClass]="['status-badge', getStatusLot(item.status).class]">
            {{ getStatusLot(item.status).text }}
          </span>
        </td>

        <td>
          <div class="actions">
            <!-- Switch paiement -->
            <div
              class="form-check form-switch form-check-inline"
         
            >
              <div class="custom-checkbox">
                <input
                  type="checkbox"
                  class="form-check-input custom-switch"
                  [checked]="item.status === 'PAID'"
                  (change)="onSwitchChange($event, item)"
                />
              </div>
            </div>

            <!-- Actions promoteur / agence -->
            <ng-container>
              <!----  <ng-container *ngIf="item.status === 'PENDING'">
                <button
                  class="btn custom-border"
                  title="Modifier"
                  (click)="openFormModal(CreateForm, item)"
                >
                  <i class="material-icons text-grey">edit</i>
                </button>

                <button
                  class="btn custom-border"
                  title="Supprimer"
                  (click)="onDelete(item)"
                >
                  <i class="material-icons text-danger">delete</i>
                </button>
              </ng-container>-->
            </ng-container>

            <!-- Actions réservataire / promoteur -->
            <ng-container>
              <!-- Télécharger facture -->
              <button
                *ngIf="item.file != null"
                class="btn custom-border"
                title="Télécharger"
                (click)=" openFile(item.file )"
              >
          <i class="material-icons text-gray">receipt</i>
              </button>
              
              
              
                <button
                *ngIf="item.status === 'PAID'"
                class="btn custom-border"
                title="Télécharger"
                (click)="downloadInvoice(item)"
              >
                <i class="material-icons text-gray">download</i>
              </button>
              <!-- Upload / Voir fichier -->
              <ng-container>
                <button
                  *ngIf="
                    (currentuser.profil === ProfilEnum.PROMOTEUR &&
                      singleLot?.parentProperty?.agency == null &&
                      item.status === 'PENDING') ||
                    (currentuser.profil === ProfilEnum.AGENCY &&
                      item.status === 'PENDING') ||
                    currentuser.profil === ProfilEnum.RESERVATAIRE ||
                    currentuser.profil === ProfilEnum.SYNDIC
                  "
                  class="btn custom-border"
                  title="Uploader"
                  (click)="openModal(ADD_FICHE, item)"
                >
                  <i class="material-icons text-gray">upload</i>
                </button>

                <!----<button
                  *ngIf="item.file != null"
                  class="btn custom-border"
                  title="Voir"
                  (click)="openPdf(item.file)"
                >
                  <i class="material-icons text-gray">download</i>
                </button>-->
              </ng-container>
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<div *ngIf="(activeTab === 'PENDING' || activeTab === 'PAID' ) && (!paymentCalls || paymentCalls.length === 0) && !loading" 
     class="text-center py-5">
  <div class="mb-3">
    <i class="material-icons text-muted" style="font-size: 48px;">
      {{ getEmptyStateMessage().icon }}
    </i>
  </div>
  <h5 class="text-muted">{{ getEmptyStateMessage().title }}</h5>
  <p class="text-muted mb-0">{{ getEmptyStateMessage().message }}</p>
</div>
  <!-- Modal création / édition -->
  <!--<ng-template #CreateForm>
    <app-appel-charge-form-syndic
      [formData]="selectedAppelFond"
      [isEditMode]="isEditMode"
      [singleLot]="singleLot"
      (formSubmit)="onFormSubmit($event)"
    >
    </app-appel-charge-form-syndic>
  </ng-template>-->
</div>

<!-- Modal upload preuve -->
<ng-template #ADD_FICHE let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Preuve de paiement</h4>
    <button class="btn-close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <form>
      <div class="row g-3">
        <div class="col-md-12">
          <label class="form-label">Document joint</label>
          <input class="form-control" type="file" (change)="onUpload($event)" />
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="button button-primary" (click)="onSave()">
      Enregistrer
    </button>
    <button class="button button-outline-primary" (click)="modal.dismiss()">
      Annuler
    </button>
  </div>
</ng-template>
