<div class="card" (click)="onCardClick()">
  <div class="row g-0">
    <div class="col-lg-3">
      <figure id="img-responsive">
        <img   [src]="getFullImageUrl(data.plan && data.plan !== '' ? data.plan : data.pictures?.[0])"  class="img-fluid rounded-start" height="180px" [alt]="data.title">
      </figure>
    </div>
    <div class="col-lg-9">
      <div class="card-body">
        <div class="dflex-between">
          <h3 class="card-title title-property">{{ data.name }}</h3>
          <!--<h3 class="card-title price-property">{{  formatPrix(data.price) }} </h3>-->
        </div>

        <ul class="list-unstyled dflex-start">
          <li class="dflex-center text-black-50">
            <i class="material-icons">map</i>
            <span>{{ data.address }}</span>
          </li>
          <li class="dflex-center text-black-50">
            <i class="material-icons">square_foot</i>
            <span>{{  formatSurface(data.area) }}</span>
          </li>
          <li class="dflex-center text-black-50">
            <i class="material-icons">view_module</i>
            <span>{{ data.numberOfLots===0? 
              data. numberOfRooms:
              data.numberOfLots }} {{ data.numberOfLots===0?'Chambres':'Lots ' }}</span>
          </li>
        </ul>

        <p class="card-text description-property">{{ data.description }}</p>

        <!--<p class="dflex-center">
          <span class="dflex-center text-black-50 me-2">
            <i class="material-icons">person</i>
            <i>Promoteur:</i>
          </span>
          <span>{{ data.promoter.prenom }} {{ data.promoter.nom }}</span>
        </p>-->
      </div>
    </div>
  </div>
</div>
