<!-- Footer -->
<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row g-3">
      <div class="col-md-4">
        <img
          src="assets/images/logo-app-white.svg"
          alt="Gestion Immo"
          class="img-fluid"
          width="120"
        />
        <p class="text-white-50 fs-6 mt-3">
          SOLIMUS : Simplifiez la gestion de votre VEFA et bâtissez l'avenir de
          vos projets immobiliers avec confiance.
        </p>
      </div>

      <div class="col-md-3">
        <h5 class="head-footer">Télécharger</h5>
 <ul class="nav nav-column2">
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://play.google.com/store/apps/details?id=com.wakana.solimus_vefa&hl=ln"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="assets/androiddownload.webp"
              alt="Télécharger sur Google Play"
              style="height: 50px"
            />
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://apps.apple.com/sn/app/solimus/id6749629926?l=fr-FR"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="assets/iosDownload.webp"
              alt="Télécharger sur App Store"
              style="height: 50px"
            />
          </a>
        </li>
        </ul>
      </div>

      <div class="col-md-2">
        <h5 class="head-footer">Contact</h5>
        <ul class="nav nav-column2">
          <li class="nav-item">
            <a class="nav-link" href="mailto:contact@gmail.com">
              <i class="material-icons">mail</i> contact&#64;solimus.sn
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="tel+221770000000">
              <i class="material-icons">call</i> 77 000 00 00
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5 class="head-footer">Nous suivre</h5>

        <div class="social-links">
          <a href="javascript:(0)">
            <img src="assets/icons/facebook.svg" alt="Facebook" />
          </a>

          <a href="javascript:(0)">
            <img src="assets/icons/linkedin.svg" alt="Linkedin" />
          </a>

          <a href="javascript:(0)">
            <img src="assets/icons/twitter.svg" alt="Twitter" />
          </a>

          <a href="javascript:(0)">
            <img src="assets/icons/instagram.svg" alt="Instagram" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
