<h2 class="title">Mot de passe oublié</h2>

<div class="row g-3">
  <div class="col-md-12">
    <label class="form-label form-label-custom">Email</label>
    <input class="form-control form-control-custom" type="email" placeholder="Saisir votre adresse email"   [(ngModel)]="form.username" />
  </div>

  <div class="col-md-12">
    <button class="button button-primary w-100" type="button" (click)="onSubmit()">
      Soumettre
    </button>
  </div>
  <div class="col-md-12">
    <button class="button button-white w-100" type="button" (click)="onReset()">
      Annuler
    </button>
  </div>
</div>
