<div id="wrapper">
  <app-sidebar></app-sidebar>

  <section id="content-wrapper" *ngIf="currentUser">
    <div id="navbar-wrapper">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a (click)="activeToggle()" id="sidebar-toggle">
              <i class="material-icons">{{ menuIconName }}</i>
            </a>

            <div class="user-wrapper dropdown">
              <div class="d-flex align-items-center my-3 user_wrapper">
                <div class="user-avatar me-2">
                  <img
                    src="assets/images/avatar.jpg"
                    width="60"
                    class="rounded-pill img-fluid"
                    alt="Mon compte"
                  />
                </div>
                <span class="user-content" *ngIf="currentUser">
                  <span>{{ currentUser.prenom }} {{ currentUser.nom }} </span>
                  <span> {{ translateProfil(currentUser.profil) }} </span>
                </span>
              </div>
              <div class="dropdown">
                <button
                  class="fab-button position-relative"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="material-icons">more_vert</i>
                  <span *ngIf="isNew" class="badge">N</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                  <li class="dropdown position-relative">
                    <a
                      class="dropdown-item d-flex align-items-center position-relative"
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#notificationsModal"
                      (click)="cl()"
                    >
                      <i class="material-icons">notifications</i>
                      <span class="ms-2">Notifications</span>
                      <span *ngIf="isNew" class="badge">N</span>
                    </a>
                  </li>

                  <li>
                    <a
                      class="dropdown-item d-flex align-items-center"
                      href="javascript:(0)"
                      (click)="onViewCompte()"
                    >
                      <i class="material-icons">person</i>
                      <span class="ms-2">Mon compte</span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item d-flex align-items-center"
                      href="javascript:(0)"
                      (click)="logOut()"
                    >
                      <i class="material-icons">logout</i>
                      <span class="ms-2">Déconnexion</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasSidebar"
      aria-labelledby="offcanvasSidebarLabel"
    >
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasSidebarLabel">Menu</h3>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body" *ngIf="currentUser">
        <div class="sidebar-brand">
          <img [src]="logoUrl" alt="E.IMMO" class="img-fluid" />
        </div>
        <app-menu [menuItems]="menuItems" [menuState]="menuState"></app-menu>
      </div>
    </div>

    <router-outlet></router-outlet>
  </section>
</div>

<!-- Notifications Modal -->
<div
  class="modal fade notifications-modal"
  id="notificationsModal"
  tabindex="-1"
  aria-labelledby="notificationsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-end">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notificationsModalLabel">Notifications</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li
            class="list-group-item d-flex align-items-center"
            *ngFor="let notification of notifications"
          >
            <div class="notif-image me-2">
              <img
                [src]="getFullImageUrl(notification.property.plan)"
                alt="Plan"
                class="img-thumbnail"
                width="50"
              />
            </div>
            <div class="notif-content">
              <strong>{{ notification.property.name }}</strong>
              <p>{{ notification.description }}</p>
              <small>{{ notification.createdAt | date: "dd/MM/yyyy" }}</small>
            </div>
          </li>
          <li
            *ngIf="notifications.length === 0"
            class="list-group-item text-center"
          >
            <span>Aucune notification</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
