<h2 class="title">Création de mot de passe</h2>

<div class="row g-3">
<div class="col-md-12">
  <label class="form-label form-label-custom">Nouveau mot de passe</label>
  <div class="input-group input-group-custom">
    <input [type]="hide ? 'password' : 'text'" autocomplete="on" class="form-control form-control-custom"
      placeholder="*******" />
    <button type="button" class="toggle-password" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <i class="material-icons" [title]="hide ? 'Afficher le mot de passe':'Cacher le mot de passe'">{{ hide ?
        'visibility_off' : 'visibility' }}</i>
    </button>
  </div>
</div>

<div class="col-md-12">
  <label class="form-label form-label-custom">Confirmez le mot de passe</label>
  <div class="input-group input-group-custom">
    <input [type]="hideConfirmPassword ? 'password' : 'text'" autocomplete="on" class="form-control form-control-custom"
      placeholder="*******" />
    <button type="button" class="toggle-password" (click)="hideConfirmPassword = !hideConfirmPassword"
      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">

      <i class="material-icons" [title]="hideConfirmPassword ? 'Afficher le mot de passe':'Cacher le mot de passe'">{{ hideConfirmPassword ?
        'visibility_off' : 'visibility' }}</i>
    </button>
  </div>
</div>

 <div class="col-md-12">
    <button class="button button-primary w-100" type="button" (click)="onSubmit()">
      Valider
    </button>
  </div>
</div>
